@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer utilities {
  .font-serif {
    font-family: var(--font-playfair), serif;
  }
}

/* Kustomisasi scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

/* --- KELAS KACA SEMI TRANSPARAN (DIPERBARUI) --- */
.glass-panel-light {
  background: rgba(255, 255, 255, 0.4); /* Transparansi diturunkan drastis */
  backdrop-filter: blur(12px); /* Blur dinaikkan agar tulisan tetap terbaca */
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.5); /* Border semi transparan */
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.glass-panel-dark {
  background: rgba(0, 0, 0, 0.35); /* Transparansi hitam diturunkan */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2); /* Border putih tipis */
  border-radius: 16px;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}